<div class="container">
    <h1 class='text-center'>Tasks</h1>

    <%# render tasks as a collection %>
    <%= form_with url: tasks_upsert_path, data: {remote: true} do |f| %>
        <div id="tasks" class="list-group">
            <%= render @tasks %>
        </div>
        <br>

        <div class="row">
            <div class="col-md-6">
                <%= link_to "Add", tasks_path, remote: true, method: :post, class: "btn btn-info" %>
            </div>
            <div class="col-md-6">
                <%= f.button "Save", class: "btn btn-success" %>
            </div>
        </div>
    <% end %>
</div>