<div class="container">
    <h1 class='text-center'>Tasks</h1>

    <%# render tasks as a collection %>
    <%= form_tag tasks_upsert_path, data: {remote: true} do |f| %>
        <div id="tasks" class="list-group">
            <%= render @tasks, locals: {main_form: f} %>
        </div>
        <br>
    
        <%= button_tag "Save", class: "btn btn-success" %>
    <% end %>
</div>